ul li .document-btn.blue-btn {
    background-color: #0077cc !important;
}

ul li .document-btn.green-btn {
    background-color: #28a745 !important;
}

ul li .document-btn.yellow-btn {
    background-color: #ecb100 !important;
}

ul li .document-btn.red-btn {
    background-color: #dc3545 !important;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 20px;
    margin: 20px auto;
    max-width: 1500px; 
    padding: 0 20px; 
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.document-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h3 {
    text-align: center;
    color: #000000;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="file"]::file-selector-button {
    display: none; 
}

form input,
form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formbutton {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-size: 16px;
}

form button:hover {
    background-color: #36648b;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

ul li {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

li form {
    display: inline-block;
    margin-left: 10px;
}

.document-preview {
    margin-top: 10px;
}

ul li .document-btn {
    display: inline-block;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

ul li .document-btn:hover {
    filter: brightness(85%);
}

.docx-text {
    font-size: 16px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 15px;
}
