{% extends 'main_templates/base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Conferences</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main_css/conferences.css' %}">
</head>

<center><h2>Ongoing Conferences</h2></center>
<ul>
  {% for conference in ongoing_conferences %}
  <li>
    {% if conference.picture %}
    <img src="{{ conference.picture.url }}" alt="{{ conference.name }}" width="200"><br>
    {% endif %}
    <strong>{{ conference.name }}</strong><br>
    <b>Organizer:</b> {{ conference.organizer }} <br>
    <b>Location:</b> {{ conference.location }}<br><br>
    <b>Start Date:</b> {{ conference.start_date }}<br>
    <b>End Date:</b> {{ conference.end_date }}<br><br>
    <b>Description:</b> {{ conference.description }}<br>
  </li>
  {% empty %}
  <li>No ongoing conferences at the moment.</li>
  {% endfor %}
</ul>

<center><h2>Planned Conferences</h2></center>
<ul>
  {% for conference in planned_conferences %}
  <li>
    {% if conference.picture %}
    <img src="{{ conference.picture.url }}" alt="{{ conference.name }}" width="50"><br>
    {% endif %}
    <strong>{{ conference.name }}</strong><br>
    <b>Organizer:</b> {{ conference.organizer }} <br>
    <b>Location:</b> {{ conference.location }}<br><br>
    <b>Start Date:</b> {{ conference.start_date }}<br>
    <b>End Date:</b> {{ conference.end_date }}<br><br>
    <b>Description:</b> {{ conference.description }}<br>
  </li>
  {% empty %}
  <li>No planned conferences at the moment.</li>
  {% endfor %}
</ul>

{% endblock %}
