{% extends 'base.html' %}
{% load django_browser_reload %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'signup_user.css' %}">
</head>
<body>
    <div class="signup-user-wrapper">
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up as Reviewer</button>
        </form>
        <div>
            <a href="javascript:history.back()"><button>Back</button></a>
        </div>
    </div>
</body>
</html>

{% endblock %}