body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #0077cc;
  color: #fff;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex; 
  justify-content: space-between;
}

.footer-container {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
}

.header-content {
  margin-right: 20px;
}

.nav-button {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #005b99;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.nav-button:first-child {
  margin-left: 0;
}

.nav-button:hover {
  background-color: #004080;
}

.welcome-message {
  margin-left: 10px;
  color: #cce6ff;
  font-weight: bold;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product {
  width: 300px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.product h2 {
  margin-top: 0;
}

.product p {
  margin-bottom: 10px;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #0077cc;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}

.content {
  flex: 1;
  padding-bottom: 50px;
}
