{% extends 'main_templates/base.html' %}
{% load static %}
{% block content %}

<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin_dashboard.css' %}">
</head>

<h3>Approve Reviewer Requests</h3>
<ul>
  {% for request in signup_requests %}
  <li>
    {{ request.username }} - {{ request.email }} - {{ request.current_workplace }}
    <form method="post" action="{% url 'approve_signup_request' request.id %}">
      {% csrf_token %}
      <button type="submit">Approve</button>
    </form>
    <form method="post" action="{% url 'deny_signup_request' request.id %}">
      {% csrf_token %}
      <button type="submit">Deny</button>
    </form>
  </li>
  {% endfor %}
</ul>

<h3>Change User Roles</h3>
<form method="GET" action="{% url 'admin_dash' %}">
  <input type="text" name="user_search_query" placeholder="Search by username">
  <button type="submit">Search</button>
  {% if user_search_query %}
    <a href="{% url 'admin_dash' %}" class="clear-search">Clear Search</a>
  {% endif %}
</form>

<form method="POST" action="{% url 'change_user_roles' %}">
  {% csrf_token %}
  <ul>
    {% for user in users %}
    <li>
      Username: {{ user.username }} - Email: {{ user.email }}
      <br>
      <label>
        Reviewer:
        <input type="checkbox" name="is_reviewer_{{ user.id }}" {% if user.is_reviewer %}checked{% endif %}>
      </label>
      <label>
        Tracker:
        <input type="checkbox" name="is_tracker_{{ user.id }}" {% if user.is_tracker %}checked{% endif %}>
      </label>
      <label>
        Organizer:
        <input type="checkbox" name="is_organizer_{{ user.id }}" {% if user.is_organizer %}checked{% endif %}>
      </label>
    </li>
    {% endfor %}
  </ul>
  <button type="submit">Save Changes</button>
</form>

{% load custom_tags %}
<h3>Ongoing Reviews</h3>
<form method="GET" action="{% url 'admin_dash' %}">
  <input type="text" name="search_query" placeholder="Search by document name">
  <button type="submit">Search</button>
  {% if search_query %}
    <a href="{% url 'admin_dash' %}" class="clear-search">Clear Search</a>
  {% endif %}
</form>

<ul>
  {% for document, ongoing_reviewers in ongoing_reviewers_dict.items %}
    <li>
      Document: {{ document.document.name|basename }} <br> User: {{ document.user.username }} - Email: {{ document.user.email }}<br>
      {% for reviewer_username, reviewer_email in ongoing_reviewers %}
        Reviewer: {{ reviewer_username }} - Email: {{ reviewer_email }}<br><br>
      {% endfor %}
    </li>
  {% endfor %}
</ul>

{% endblock %}
