.signup-user-wrapper {
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-user-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    width: 280px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"],
form button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 69px;
}

form button[type="submit"]:hover,
form button:hover {
    background-color: #36648b;
}

div {
    margin-top: 20px;
}

div a button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div a button:hover {
    background-color: #36648b;
}
