{% extends 'main_templates/base.html' %}
{% load django_browser_reload %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/auth_css/signup_user.css' %}">
</head>

<body>
    <div class="signup-user-wrapper">
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="javascript:history.back()"><button>Back</button></a>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>

</html>

{% endblock %}